.container {
  display: block;
}

.header {
  display: flex;
}

.label {
  font-size: 0.875em;
  font-weight: 700;
  color: #5d6d74;
  display: block;
}

.meta {
  font-weight: 400;
  margin-left: auto;
}
