.wrapper {
  display: flex;
  background: #f0efee;
  line-height: 56px;
}

.input {
  flex-grow: 1;
  background: none;
  border: none;
  padding: 0 16px;
  font-size: 1em;
  font-family: Averta, sans-serif;
}

.unit {
  padding: 0 16px;
}
