.wrapper {
  background: #f0efee;
  border-radius: 0.5em;
  color: #5D6D74;
  display: flex;
  line-height: 56px;
}

.input {
  background: none;
  border: none;
  flex-grow: 1;
  font-family: Averta, sans-serif;
  font-size: 1em;
  padding: 0 16px;
}

.unit {
  padding: 0 16px;
}
