.container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
  position: relative;
  width: 100%;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.button:hover .arrow {
  opacity: 0.7;
}

.identiconWrapper {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.arrow {
  margin-left: 0.5rem;
  transition: opacity 0.12s ease-in-out;
}

.dropdown {
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 10px rgba(40, 54, 61, 0.18);
  padding: 1rem 0 0.5rem;
  position: absolute;
  right: 0;
  top: calc(100% + 0.5rem);
  width: 280px;
  z-index: 99;
}

.row {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
}

.dropdownAccountDetails {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.75rem;
}

.dropdownAddress {
  align-items: center;
  background-color: #f7f5f5;
  border-radius: 3px;
  display: flex;
  font-size: 11px;
  justify-content: center;
  line-height: 1;
  margin: 0.5rem auto 0;
  padding: 0.5rem;
}

.dropdownDivider {
  background-color: #e8e7e6;
  height: 2px;
  margin: 4px 0;
  min-height: 2px;
  width: 100%;
}

.dropdownSplitRow {
  align-items: center;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  padding: 0 1rem;
}

.dropdownListFlex {
  display: flex;
  align-items: center;
}

.dropdownConnectedJewel {
  background-color: #008c73;
  border-radius: 999px;
  height: 6px;
  margin-right: 0.25rem;
  transform: translateY(-1px);
  width: 6px;
}

.dropdownNetworkJewel {
  background-color: none;
  border: 2px solid #e8e7e6;
  border-radius: 999px;
  height: 8px;
  margin-right: 0.25rem;
  transform: translateY(-1px);
  width: 8px;
}

button.dropdownButton {
  line-height: 40px;
  width: 100%;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.marginTop {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.address {
  margin-right: 0.5rem;
}
