.container {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(233, 233, 233);
  box-shadow: 0 24px 24px rgba(0,0,0,0.05);
  left: 50%;
  max-width: 400px;
  outline: none;
  overflow: auto;
  padding: 1.33rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: calc(100% - 2rem);
}

.h2 {
  margin-top: 0;
}

.textSmall {
  font-size: 14px;
}

.wallet {
  align-items: center;
  background: none;
  border: 1px solid #f0efee;
  border-radius: 999px;
  color: #4a4a4a;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  justify-content: flex-start;
  margin-top: 1rem;
  padding: 1rem;
  text-align: left;
  transition: box-shadow 0.12s ease-in-out;
  width: 100%;
}

.wallet:hover {
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%)
}

.walletLabel {
  margin-left: 0.5rem;
}