.infoBubble {
  position: relative;
  margin-left: 4px;
  margin-top: -5px;
}
.infoBubble img {
  width: 16px;
  height: 16px;
  cursor: help;
  display: block;
}

.dropdown {
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 10px rgba(40, 54, 61, 0.18);
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  top: calc(100% + 4px);
  width: 360px;
  display: none;
  z-index: 99;
}
.infoBubble:hover .dropdown {
  display: block;
}

.breakdown > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.breakdown dd {
  color: #5d6d74;
  font-weight: bold;
  margin-left: 2.5rem;
}
.breakdown dt {
  font-size: 12px;
}

.total {
  border-top: 1px solid #e8e7e6;
  padding-top: 8px;
}
.total dd {
  color: #001428;
}
